<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navigation-bar">
    <% if current_user.nil? && params[:action] != "new"%>
      <div><a href="<%=new_session_url%>">login</a></div>
      <div><a href="<%=new_user_url%>">sign up</a></div>
    <% end %>

    <% if current_user %>
      <div><form action="<%=session_url%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="submit" value="log out!">
      </form></div>
    <% end %>

    <div><a href="/">home</a></div>
  </nav>
    <%= yield %>

  </body>
</html>
