<%
persisted = cat.persisted?
action_url = persisted ? cat_url(cat) : cats_url
form_method = persisted ? "PATCH" : "POST"
submit_text = persisted ? "Update Cat!" : "Create Cat!"
%>

<form method="POST" action="<%=action_url%>">
  <input type="hidden" name="_method" value="<%=form_method%>">


  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%=@cat.name%>">
  <br>
  <label for="cat_skill">Skill</label>
  <input type="text" name="cat[skill]" id="cat_skill" value="<%= @cat.skill%>">
  <input type="submit" value="<%=submit_text%>">
</form>