<h1><%= @cat.name %>!</h1>
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th colspan="2"><%= "About #{@cat.name}" %></th>
    </tr>
  </thead>

  <tbody>
    <% @cat.attribute_names[1..4].each do |attribute| %>
      <tr>
      
        <td><%= attribute.capitalize %>:</td>
        <td><%= @cat.send(attribute) %></td>
      </tr>
      
    <% end %>

  </tbody>
</table>

<h2>Rental Requests</h2>

<table style="border: 1px solid black;">
  <tbody>
    <% count = 0 %>
    <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
      <% count += 1 %>
      <tr>
        <td><%= count %>:</td>
        <td><%= request.start_date %></td>
        <td><%= request.status %></td>
        <td>
          <form action="<%=approve_cat_rental_request_url%>" method="POST">
            <input type="hidden" name="cat_rental_request[id]" value="<%=request.id%>">
            <input type="submit" value="approve">
          </form>
        </td>
        <td>
          <form action="<%=deny_cat_rental_request_url%>" method="POST">
            <input type="hidden" name="cat_rental_request[id]" value="<%=request.id%>">
            <input type="submit" value="deny">
          </form>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

